*{
    margin: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.button{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    background-color: #FF5959;
    padding: 20px 15px;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    margin-top: 30px;
}
.bannerSection{
    text-align: center;
    color: #ffffff;
    background-image: url(images/banner.jpg);
    padding: 200px 20%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}
.bannerSection h1{
    font-size: 65px;
    font-weight: 700;
}
.bannerSection p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}
.amountSection{
    text-align: center;
    padding: 150px 0;
}
.amountSection h2{
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}
.amountSection p{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}
.amount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount p{
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    padding: 45px 20px;
    border-radius: 10px;
    background-color: #FAFAFA;
    margin-right: 20px;
}
.amount .amountColor{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}
.amountSection input{
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-align: center;
    width: 50%;
    position: relative;
    left: 25%;
    border: none;
    border-bottom: 0.5px solid #B3B3B3;
    margin: 25px 0 0;
    padding-bottom: 10px;
}
.amountSection input:focus{
    outline: none;
    border: none;
    border-bottom: 0.5px solid #B3B3B3;
}

.donatePlanSection{
    text-align: center;
}
.donatePlanSection h2{
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}
.donatePlanSection p{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}
.planContainer {
    display: flex;
    padding: 10px 8%;
}
.singlePlan{
    border-radius: 5px;
    text-align: left;
    padding: 60px 20px 30px;
    margin-right: 20px;
}
.singlePlan img{
    width: 55px;
    height: 55px;
}
.singlePlan h3{
    color: #121212;
    font-size: 24px;
    font-weight: 500;
    padding-top: 30px;
}
.singlePlan p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
}
.singlePlan:first-child{
    background-color: #d8f3f6;
}
.singlePlan:nth-child(2){
    background-color: #f6e3e3;
}
.singlePlan:last-child{
    background-color: #FFF4D6;
}
.latestProjectSection{
    text-align: center;
    padding-top: 120px;
}
.latestProjectSection h2{
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}
.latestProjectSection p{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}
.projectContainer {
    display: flex;
    margin: 10px 50px;
    text-align: left;
}
.singleProject{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 5px 5px 40px #f6e3e3;
    padding: 20px;
    margin-right: 20px;
}
.singleProject:last-child{
    margin: 0;
}
.singleProject img{
    width: 400px;
    height: 300px;
}
.singleProject span{
    background-color: #FF5959;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin: 10px 0;
    display: inline-block;
}
.singleProject h3{
    color: #121212;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}
.singleProject p{
    color: #FF5959;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}
.getUpdateSection{
    text-align: center;
    padding: 100px 0;
}
.getUpdateSection h2{
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}
.getUpdateSection p{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}
.getUpdateSection form{
    width: 50%;
    position: relative;
    left: 25%;
    background-color: #FFF4D6;
    padding: 70px 0;
}
.subscribeField{
    padding: 11px 0;
    width: 250px;
    border: none;
    height: 18px;
    padding-left: 20px;
    position: relative;
    right: -4px;
    top: -3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.subscribeField:focus{
    outline: none;
    border: none;
}
.subscribeBtn{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    background-color: #FF5959;
    padding: 8px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    display: inline-block;
    border: none;
}
footer{
    background-color: #0B0D17;
    padding: 60px 0;
    text-align: center;
}
footer h3{
    font-family: 'Courgette', cursive;
    color: #FF5959;
    font-size: 36px;
    font-weight: 400;
}
footer p{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}